SECRET_KEY=cinecol-secret-cambia-esto-en-produccion
FLASK_ENV=production
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=tu_contrasena
DB_NAME=cinecol
DB_PORT=3306
DB_SSL_CA=/etc/ssl/certs/ca-certificates.crt
DB_CONNECT_TIMEOUT=3
DB_PING_RECONNECT=false
DB_LOCATION_CACHE_SECONDS=120
BREVO_API_KEY=tu_api_key_de_brevo
MAIL_FROM=tu_correo@dominio.com
MAIL_FROM_NAME=CineVerse
MAIL_DEBUG=false
MAIL_MAX_RETRIES=2
MAIL_RETRY_DELAY_SECONDS=1.5
MAIL_TIMEOUT_SECONDS=10
APP_BASE_URL=http://127.0.0.1:5000
PASSWORD_RESET_TOKEN_SALT=cinecol-password-reset
PASSWORD_RESET_MAX_AGE_SECONDS=3600
DEFAULT_POSTER_URL=/static/img/poster-placeholder.svg
IMAGE_STORAGE_BACKEND=db
POSTER_MAX_BYTES=2097152
