SECRET_KEY=cinecol-secret-cambia-esto-en-produccion
MYSQL_HOST=localhost
MYSQL_USER=root
MYSQL_PASSWORD=tu_contrasena
MYSQL_DB=cinecol
MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587
MAIL_USE_TLS=true
MAIL_USERNAME=tu_correo@gmail.com
MAIL_PASSWORD=tu_clave_o_app_password
MAIL_FROM=CineVerse <no-reply@cinecol.com>
APP_BASE_URL=http://127.0.0.1:5000
