SECRET_KEY=cinecol-secret-cambia-esto-en-produccion
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=tu_contrasena
DB_NAME=cinecol
DB_PORT=3306
DB_SSL_CA=/etc/ssl/certs/ca-certificates.crt
MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587
MAIL_USE_TLS=true
MAIL_USE_SSL=false
MAIL_USERNAME=tu_correo@gmail.com
MAIL_PASSWORD=tu_app_password_de_16_caracteres
MAIL_FROM=tu_correo@gmail.com
MAIL_DEBUG=false
APP_BASE_URL=http://127.0.0.1:5000
